/*-------------------------------------|
|     CONTENU CUSTOM                  |
|      RESULTAT RECHERCHE             |
|--------------------------------------*/
//Changer le nom du bloc en fonction du thème
body.page-search-node{
#block-celony-d8-2019-content{
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
   width: span(10 of $desktopcol);
  margin-left: span(1 wide);//push
  @include clearfix;
  }
  .search-results{
  ol{}
  li{
    h3.title{
      color: $vert !important;
    }
    .search-snippet-info{
      p.search-snippet{}
      p.search-info{
        font-style: italic;
      }
    }
  }

  }
}
}
